@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: red;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#root {
  height: 100%;
}

.sidebar-position {
  z-index: 2;
}

.test {
  border: 2px solid red;
}

.container-item {
  height: 450px;
}

.container-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.spinner-home {
  position: absolute;
  top: 5%;
}

.spinner {
  position: absolute;
  top: 50%;
}

.container-frontPage {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: #99aea7;
  margin-top: 20px;
  border-radius: 8px;
}

.home-img {
  width: 100%;
}

.container-frontText {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px 70px;
  color: #fff;
  font-weight: bold;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-item {
    height: 390px;
  }
}

@media screen and (min-width: 1024px) {
  .container-item {
    height: 500px;
  }

  .container-frontPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 32px 0px;
    margin-top: 20px;
  }

  .home-img {
    width: 50%;
  }

  .container-frontText {
    font-size: 38px;
    padding: 0px 30px;
    width: 40%;
  }
}
